/*************************************************
* Custom css
 **************************************************/

html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
}
@media screen and (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lucida Grande', sans-serif;
  font-weight: 400;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
